<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="cancel()">
      <ons-if platform="android">
        <ons-icon icon="md-close"></ons-icon>
      </ons-if>
      <ons-if platform="ios other">Cancel</ons-if>
    </ons-toolbar-button>
  </div>
  <div class="right">
    <ons-toolbar-button (click)="save(todo)" [disabled]="!f.form.valid">
      <ons-if platform="android">
        <ons-icon icon="md-save"></ons-icon>
      </ons-if>
      <ons-if platform="ios other">Save</ons-if>
    </ons-toolbar-button>
  </div>
  <div class="center">Edit</div>
</ons-toolbar>
<div class="content">
  <form #f="ngForm" novalidate>
    <ons-list-title>Content</ons-list-title>
    <ons-list>
      <ons-list-item>
        <!-- <input class="text-input" type="text" [(ngModel)]="todo.content"> -->
        <textarea class="textarea textarea--transparent" name="content" [(ngModel)]="todo.content" maxlength="100" required></textarea>
        <div class="counter">{{todo.content.length}}/100</div>
      </ons-list-item>
    </ons-list>
  </form>
</div>
