<ons-toolbar>
  <div class="center">Todos</div>
  <div class="right">
    <ons-if platform="ios other">
      <ons-toolbar-button (click)="add()">Add</ons-toolbar-button>
    </ons-if>
  </div>
</ons-toolbar>
<div class="content">
  <ons-pull-hook height="64px" threshold-height="-1" (changestate)="onChangeState($event)" (action)="onAction($event)">
    <ons-icon size="22px" class="pull-hook-spinner" [attr.icon]="state === 'action' ? 'fa-spinner' : 'fa-arrow-down'" [attr.spin]="state === 'action' ? true : null" [attr.rotate]="state === 'preaction' && 180"></ons-icon>
  </ons-pull-hook>
  <ons-list>
    <ons-list-item tappable modifier="chevron" *ngFor="let todo of todos$ | async" (click)="detail(todo)" [innerHTML]="todo.content | sanitize | newline"></ons-list-item>
  </ons-list>
</div>
<ons-if platform="android">
  <ons-fab (click)="add()" position="bottom right">
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>
</ons-if>
